{% extends 'lgroup.html'%}


{% block content%}
      <br><br>
    <div id="mydiv"></div>

    <script type="text/babel">
      
      class Hello extends React.Component{
        constructor(props){
         super(props);
         this.state={
          count:0
         };
          props={
            name:'',
            func:()=>{this.state.count+1}
          };
        }
     render(){
        
        return <div>
          
        <h3>HELLO  {this.props.name}</h3>
        <h5 > YOU VISITED {this.state.count} TIMES</h5>
        <button  className='btn btn-outline'  
          onClick ={this.props.func}></button>
        </div>
      }
      }
     const root = ReactDOM.createRoot(document.getElementById('mydiv'));

      root.render(<Hello name='SWATI'/>)
    </script>

  {% endblock %}